	@charset "utf-8";
	/* CSS Document */
	*{margin:0;padding:0;list-style-type:none;}
	
	a{text-decoration:none;}
	img{border:none;}
	ul,li{
		list-style:none;
		list-style-type:none;
		}
	/*clearfix*/
	.clearfix:after{
		visibility:hidden;
		display:block;content:" ";
		clear:both;height:0;
		line-height:0;
		}
	.clearfix{zoom:1;}

	.madegame{
		width:100%;overflow:hidden;
		}
	#ho{
		position:relative !important;
		}
	#ho li{
		float:left;position:relative;
		}
	#ho1{
		position:relative !important;
		}
	#ho1 li{
		float:left;position:relative;
		}		
		