<template name="listing">
<a href="" style="color:#000; text-decoration:none" data-toggle="modal" data-target="#myModal">TEST</a>
<div class="container">
	
		
			 	{{#each filter search _id}}
				<div class="col-lg-3 col-sm-6">
			<a href="{{pathFor 'details' id=_id}}"><img style="border:8px solid #000" src="/upload/{{getImg image}}" class="img-circle center-block" alt="Cinque Terre" width="150" height="150"></a>
			<p class="text-center" style="font-size:12px; padding:5px"><a href="{{pathFor 'details' id=_id}}">{{title}}</a></p>
			<h3 class="text-center" style="font-weight:bold"><a href="{{pathFor 'details' id=_id}}">{{price}}</a>
				<span >
					<a href="" id="favorite"><img id="heart" width="20px" height="20px" /></a></span>
			</h3>
		</div>
				{{/each}}
				
	
</div>

<h1>{{title}}</h1>
{{#each parentTag _id}}
	<h2>{{title}}</h2>
	{{#each tags _id}}
		<input type="checkbox" id="tag_{{_id}}" class="tag"> {{title}}<br />
	{{/each}}
{{/each}}

<div class="container-full">
				<div class="modal fade" id="myModal" role="dialog" >
					<div class="modal-dialog modal-lg">  
						<!-- Modal content-->
						<div class="modal-content" >
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal">&times;</button>
							</div>
							<div class="modal-body">
								<div class="col-md-6">
									<p>ARE YOU PRIMARILY CONCERNED
									WITH YOUR FACE OR THE EYE AREA?
									</p>
									<br>
									<label class="checkbox"><input name="checkbox" checked="" type="checkbox"><i></i>Face</label>
									<br>
									<label class="checkbox"><input name="checkbox" checked="" type="checkbox"><i></i>Eyes</label>
								</div>
							</div>
							<div class="clearfix"></div>
							<div class="modal-footer" style="border:none">
								<button type="button" class="btn btn-default" style="background:#000; color:#fff; margin-bottom:0px" data-dismiss="modal">NEXT</button>
							</div>
						</div>	  
					</div>
				</div>
</div>

</template>