<template name="article">
<div class="list-group">
                
                    <div class="col-md-6 img">
                        <img src="/upload/{{getImg image}}" class="img-responsive" height="50px">
                    </div>

                    <div class="col-md-6">
                        <p class="artical-text">{{title}}</p>
                        <p class="list-group-item-text">
                           {{content}}
                      
                        </p>
                    </div>
                    
                
              </div>
</template>