<template name="listing2">
<div class="container">

		<div class="col-lg-8 col-sm-12">
			 <div class="btn-group btn-group-justified">
				<div class="btn-group">
				  <button type="button" style="border:none" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
				  MAKEUP &nbsp;&nbsp;&nbsp;&nbsp;<span class="caret"></span></button>
				  <ul class="dropdown-menu" role="menu">
					<li><a href="#">Tablet</a></li>
					<li><a href="#">Smartphone</a></li>
				  </ul>
				</div>
				<div class="btn-group">
				  <button type="button" style="border:none" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
				  SUBCATEGORY &nbsp;&nbsp;&nbsp;&nbsp;<span class="caret"></span></button>
				  <ul class="dropdown-menu" role="menu">
					<li><a href="#">Tablet</a></li>
					<li><a href="#">Smartphone</a></li>
				  </ul>
				</div>
				<div class="btn-group">
				  <button type="button" id="btn_refine" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
				  REFINE &nbsp;&nbsp;&nbsp;&nbsp;<span class="caret"></span></button>
				  <ul class="dropdown-menu" role="menu">
					<li><a href="#">Tablet</a></li>
					<li><a href="#">Smartphone</a></li>
				  </ul>
				</div>
			  </div> 
		</div>
		<div class="clearfix"></div>
		<div class="col-lg-12 col-sm-12">
		<hr style="border:1px solid #000; margin-top:0px">
		</div>

		<div class="container">
			<div class="col-lg-6 col-sm-12 pull-left"><p style="font-size:12px">85 PRODUCTS RESULT</p></div>
			<div class="col-lg-6 col-sm-12 pull-right">
				<p style="font-size:12px"> Sort by:</p>
			</div>
		</div>

	
		<div class="col-lg-3 col-sm-6">
			<img style="border:8px solid #000" src="images/trendy_1.jpg" class="img-circle center-block" alt="Cinque Terre" width="150" height="150">
			<p class="text-center" style="font-size:12px; padding:5px">ESTÉE LAUDER PUR COLOR VERNIS À ONGLES</p>
			<h3 class="text-center" style="font-weight:bold">21,00€
				<span style="color:rgb(221, 42, 27)" class="glyphicon glyphicon-heart" aria-hidden="true"></span>
			</h3>
		</div>
		<div class="col-lg-3 col-sm-6">
			<img style="border:8px solid #000" src="images/trendy_1.jpg" class="img-circle center-block" alt="Cinque Terre" width="150" height="150">
			<p class="text-center" style="font-size:12px; padding:5px">ESTÉE LAUDER PUR COLOR VERNIS À ONGLES</p>
			<h3 class="text-center" style="font-weight:bold; color:rgb(221, 42, 27)	">21,00€
				<span style="color:rgb(221, 42, 27)" class="glyphicon glyphicon-heart" aria-hidden="true"></span>
			</h3>
		</div>
		<div class="col-lg-3 col-sm-6">
			<img style="border:8px solid #000" src="images/trendy_1.jpg" class="img-circle center-block" alt="Cinque Terre" width="150" height="150">
			<p class="text-center" style="font-size:12px; padding:5px">ESTÉE LAUDER PUR COLOR VERNIS À ONGLES</p>
			<h3 class="text-center" style="font-weight:bold">21,00€
				<span style="color:rgb(221, 42, 27)" class="glyphicon glyphicon-heart" aria-hidden="true"></span>
			</h3>
		</div>
		<div class="col-lg-3 col-sm-6">
			<img style="border:8px solid #000" src="images/trendy_1.jpg" class="img-circle center-block" alt="Cinque Terre" width="150" height="150">
			<p class="text-center" style="font-size:12px; padding:5px">ESTÉE LAUDER PUR COLOR VERNIS À ONGLES</p>
			<h3 class="text-center" style="font-weight:bold">21,00€
				<span style="color:rgb(221, 42, 27)" class="glyphicon glyphicon-heart" aria-hidden="true"></span>
			</h3>
		</div>

		<div class="col-lg-3 col-sm-6">
			<img style="border:8px solid #000" src="images/trendy_1.jpg" class="img-circle center-block" alt="Cinque Terre" width="150" height="150">
			<p class="text-center" style="font-size:12px; padding:5px">ESTÉE LAUDER PUR COLOR VERNIS À ONGLES</p>
			<h3 class="text-center" style="font-weight:bold">21,00€
				<span style="color:rgb(221, 42, 27)" class="glyphicon glyphicon-heart" aria-hidden="true"></span>
			</h3>
		</div>
		<div class="col-lg-3 col-sm-6">
			<img style="border:8px solid #000" src="images/trendy_1.jpg" class="img-circle center-block" alt="Cinque Terre" width="150" height="150">
			<p class="text-center" style="font-size:12px; padding:5px">ESTÉE LAUDER PUR COLOR VERNIS À ONGLES</p>
			<h3 class="text-center" style="font-weight:bold">21,00€
				<span style="color:rgb(221, 42, 27)" class="glyphicon glyphicon-heart" aria-hidden="true"></span>
			</h3>
		</div>
		<div class="col-lg-3 col-sm-6">
			<img style="border:8px solid #000" src="images/trendy_1.jpg" class="img-circle center-block" alt="Cinque Terre" width="150" height="150">
			<p class="text-center" style="font-size:12px; padding:5px">ESTÉE LAUDER PUR COLOR VERNIS À ONGLES</p>
			<h3 class="text-center" style="font-weight:bold">21,00€
				<span style="color:rgb(221, 42, 27)" class="glyphicon glyphicon-heart" aria-hidden="true"></span>
			</h3>
		</div>
		<div class="col-lg-3 col-sm-6">
			<img style="border:8px solid #000" src="images/trendy_1.jpg" class="img-circle center-block" alt="Cinque Terre" width="150" height="150">
			<p class="text-center" style="font-size:12px; padding:5px">ESTÉE LAUDER PUR COLOR VERNIS À ONGLES</p>
			<h3 class="text-center" style="font-weight:bold">21,00€
				<span style="color:rgb(221, 42, 27)" class="glyphicon glyphicon-heart" aria-hidden="true"></span>
			</h3>
		</div>
    </div>

</template>